* {
  font-weight: 800;
}

.grid {
  display: grid;
  grid-template-columns: 320px 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next{
  border: 2px dashed black; 
  padding: 2px;
}

.game-board {
  border: solid 2px;
}

.game-board{
  cursor: none;
}

.play-button {
  background-color: #ff55f6;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
